@page
@model tbkkData.Pages.Assets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://uicdn.toast.com/tui.chart/latest/tui-chart.min.css">
<link rel="stylesheet" href="https://www.gstatic.com/charts/loader.js">

<!--CanvasJS Chart-->
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="Scripts/bootstrap.js"></script>

<div id="content-wrapper">

    <div class="container-fluid">

        <!-- filter   -->
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand">IT Service</a>
            <form class="form-inline">
                <div class="input-group mr-sm-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Years</label>
                    </div>
                    <select class="custom-select mr-sm-2" id="inputGroupSelect01">
                        <option selected="selected" value="year">Years</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                        <option value="2006">2006</option>
                        <option value="2005">2005</option>
                        <option value="2006">2006</option>
                        <option value="2005">2005</option>
                    </select>
                </div>
                <div class="input-group mr-sm-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Quater</label>
                    </div>
                    <select class="custom-select mr-sm-2" id="inputGroupSelect01">
                        <option selected="selected">All</option>
                        <option value="1">Quater 1</option>
                        <option value="2">Quater 2</option>
                        <option value="3">Quater 3</option>
                        <option value="3">Quater 4</option>
                    </select>
                </div>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>

        <!-- card -->
        <!-- Show Data -->
        <div class="row ">
            <div class="col-md-4">
                <div class="card-body ">
                    <div class="card" style="width: 22rem;">
                        <div class="card-body ">
                            <h5 class="card-title text-center">
                                <p class="font-weight-bold ">Device Type </p>
                            </h5>
                            <form>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">AssetID : </label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" placeholder="2000" readonly>
                                    </div>
                                </div>
                            </form>
                            <form>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">linesent : </label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" placeholder="50000" readonly>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <div class="card" style="width: 22rem;">
                        <div class="card-body ">
                            <h5 class="card-title text-center">
                                <p class="font-weight-bold ">Device Type </p>
                            </h5>
                            <form>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">AssetID : </label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" placeholder="2000" readonly>
                                    </div>
                                </div>
                            </form>
                            <form>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">linesent : </label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" placeholder="50000" readonly>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <div class="card" style="width: 22rem;">
                        <div class="card-body ">
                            <h5 class="card-title text-center">
                                <p class="font-weight-bold ">Device Type </p>
                            </h5>
                            <form>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">AssetID : </label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" placeholder="2000" readonly>
                                    </div>
                                </div>
                            </form>
                            <form>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">linesent : </label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" placeholder="50000" readonly>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><br />

        <!-- ************Chart***************  -->

        <div class="row">
            <!-- Area Chart -->
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="card text-dark bg-light o-hidden h-100">
                    <div class="card-body">
                        <div class="mr-5 ">
                            <i class="fas fa-chart-area "></i>
                            Area Chart
                            <span style="float:right ">
                                <b>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="material-icons" data-toggle="modal" data-target=".showChartArea">
                                        <i class="fas fa-bars "></i>
                                    </button>
                                </b>
                            </span>

                            <!--  ******modal***** -->
                        </div><br />
                        <div class="card mb-3 container-fluid">
                            <div class="mr-5 ">
                            </div><div class="card-body">
                                <canvas id="myAreaChart1" width="100%" height="50"></canvas>
                            </div>
                        </div><br />
                    </div>
                </div>
            </div>

            <!-- Bar Chart -->
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="card text-dark bg-light o-hidden h-100">
                    <div class="card-body">
                        <div class="mr-5 ">
                            <i class="fas fa-chart-area "></i>
                            Bar Chart
                            <span style="float:right ">
                                <b>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="material-icons" data-toggle="modal" data-target=".showBarArea">
                                        <i class="fas fa-bars "></i>
                                    </button>
                                </b>
                            </span>

                            <!--  ******modal***** -->
                        </div><br />
                        <div class="card mb-3 container-fluid">
                            <div class="mr-5 ">
                            </div><div class="card-body">
                                <canvas id="myBarChart1" width="100%" height="50"></canvas>
                            </div>
                        </div><br />
                    </div>
                </div>
            </div>
        </div>

        <br />
        <div class="row">
            <!-- *******Pie Chart**********  -->
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="card text-dark bg-light o-hidden h-100">
                    <div class="card-body">
                        <div class="mr-5 ">
                            <i class="fas fa-chart-area "></i>
                            Pie Char
                            <span style="float:right ">
                                <b>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="material-icons" data-toggle="modal" data-target=".showPieChart">
                                        <i class="fas fa-bars "></i>
                                    </button>
                                </b>
                            </span>

                            <!--  ******modal***** -->
                        </div><br />
                        <div class="card mb-3 container-fluid">
                            <div class="mr-5 ">
                            </div><div class="card-body">
                                <canvas id="myPieChart1" width="100%" height="50"></canvas>
                            </div>
                        </div><br />
                    </div>
                </div>
            </div>

            <!-- *******Doughnut Chart**********  -->
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="card text-dark bg-light o-hidden h-100">
                    <div class="card-body">
                        <div class="mr-5 ">
                            <i class="fas fa-chart-area "></i>
                            Doughnut Char
                            <span style="float:right ">
                                <b>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="material-icons" data-toggle="modal" data-target=".showDoughnutChart">
                                        <i class="fas fa-bars "></i>
                                    </button>
                                </b>
                            </span>

                            <!--  ******modal***** -->
                        </div><br />
                        <div class="card mb-3 container-fluid">
                            <div class="mr-5 ">
                            </div><div class="card-body">
                                <canvas id="myDoughnutChart1" width="100%" height="50"></canvas>
                            </div>
                        </div><br />
                    </div>
                </div>
            </div>

        </div><br />

        <div class="row">
            <!--  *********** PolarArea Chart *************** -->
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="card text-dark bg-light o-hidden h-100">
                    <div class="card-body">
                        <div class="mr-5 ">
                            <i class="fas fa-chart-area "></i>
                            PolarArea Chart
                            <span style="float:right">
                                <b>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="material-icons" data-toggle="modal" data-target=".showPolarAreaChart">
                                        <i class="fas fa-bars "></i>
                                    </button>
                                </b>
                            </span>
                        </div><br />
                        <div class="card mb-3 container-fluid">
                            <br />
                            <div class="card-body">
                                <canvas id="mypolarAreaChart1" width="100%" height="30"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><br />
    </div>
</div>


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>











<!-- modal area chart -->
<div class="modal fade showChartArea " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <!--model table data and graph-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Area Chart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-light " role="alert">
                    <div class="card-body">
                        <canvas id="myAreaChart" width="100%" height="50"></canvas>
                    </div>
                    <hr>
                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- modal bar chart-->
<div class="modal fade showBarArea " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <!--model table data and graph-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Bar Chart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-light " role="alert">
                    <div class="card-body">
                        <canvas id="myBarChart" width="100%" height="50"></canvas>
                    </div>
                    <hr>
                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- modal pie chart-->
<div class="modal fade showPieChart " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <!--model table data and graph-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Bar Chart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-light " role="alert">
                    <div class="card-body">
                        <canvas id="myPieChart" width="100%" height="50"></canvas>
                    </div>
                    <hr>
                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- modal doughnut chart-->
<div class="modal fade showDoughnutChart " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <!--model table data and graph-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Bar Chart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-light " role="alert">
                    <div class="card-body">
                        <canvas id="myDoughnutChart" width="100%" height="50"></canvas>
                    </div>
                    <hr>
                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- modal PolarArea chart-->
<div class="modal fade showPolarAreaChart " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <!--model table data and graph-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Bar Chart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-light " role="alert">
                    <div class="card-body">
                        <canvas id="mypolarAreaChart" width="100%" height="50"></canvas>
                    </div>
                    <hr>
                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
